.pEl {
  display: inline;
}
.btn {
  display: block;
  margin: 15px auto 0;
  padding: 5px 15px;

  font-size: 16px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  text-align: center;
}
